
@import url('https://fonts.googleapis.com/css2?family=Alex+Brush&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@import "tailwindcss";


@theme  {
  --color-purble:#6941c6;
  --breakpoint-2xl:1400px;
  }
body{
font-family: "Roboto", sans-serif;}
.logo{
  font-family: "Alex Brush", "cursive";
}


@layer utilities{
  .container{
    margin-inline:auto ;
  }
}
@layer base {
  h1 {
    @apply text-4xl font-bold leading-tight my-4;
  }
  h2 {
    @apply text-3xl font-bold leading-snug my-3;
  }
  h3 {
    @apply text-2xl font-semibold leading-snug my-3;
  }
  h4 {
    @apply text-xl font-semibold leading-normal my-2;
  }
  h5 {
    @apply text-lg font-medium leading-normal my-2;
  }
  h6 {
    @apply text-base font-medium leading-normal my-2;
  }
}